/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */

:root {
  --accent-font: "PressStart2P", sans-serif;
  --main-font: "Inter-Variable", sans-serif;
  --mainGradient:
    repeating-linear-gradient(
      90deg,
      #d3d3d3 0px,
      #d3d3d3 2px,
      transparent 2px,
      transparent 4px
    ),
    repeating-linear-gradient(
      0deg,
      #d3d3d3 0px,
      #d3d3d3 2px,
      transparent 2px,
      transparent 4px
    ),
    linear-gradient(to bottom, #e7e7e7 0.1%, #1a1a1a 100%);
  --width: clamp(375px, 80vw, 700px);
  --height: clamp(327px, 40vw, 368px);
  --fontdef-var: 410;
  --fontvar: 715;
  --labelcolor: #ffffff;
  --contourcolor: #000;
  --animation-fill-color: #ff0000;
}
